#CACHE FILES
#---------------------------------------
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

#LOG FILES
#---------------------------------------
application/logs/*
!application/logs/index.html

#IDE FILES
#---------------------------------------
.idea

#COMPOSER FOLDER
#---------------------------------------
/vendor

#OTHERS FILES
#---------------------------------------
**.bak
**.temp
**.tmp