#CACHE FILES
#---------------------------------------
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

#LOG FILES
#---------------------------------------
application/logs/*
!application/logs/index.html

#IDE FILES
#---------------------------------------
.idea

#COMPOSER FOLDER
#---------------------------------------
/vendor

#OTHERS FILES/FOLDERS
#---------------------------------------
**.bak
**.temp
**.tmp

assets/upload/files/*
!assets/upload/files/index.html

assets/upload/images/*
!assets/upload/images/index.html

assets/upload/videos/*
!assets/upload/videos/index.html


